<h3>Restricted Drugs</h3>

<table class="table table-hover">
  <tr><thead>
    <th>Name</th>
    <th>Category</th>
    <th>Information</th>
    <th></th>
    <th></th>

  </thead></tr>

<% @restricted_drugs.each do |drug| %>
  <tr>
    <td><%= link_to drug.name, drug_path(drug.id)%></td>
    <td><span class="label label-warning">Restricted</span></td>
    <td><%= drug.information %></td>
 	<td><%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_drug_path(drug), :class => 'btn btn-small' %></td>
  <td> <%= link_to raw("<i class='icon-trash'></i>"), drug, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger' %></td>
  </tr>
<% end %>
</table>