
<div class="span11" style="padding-left:10px" >

<div class="hero-unit">
	<h2>Otsuka Study 283</h2>
	  <tagline>Read below for more information about this web application</tagline>
	<br>
		<br>
	
			<p>
			<ol>
				<li>Navigate to the 'Search for Drugs' tab in the navigation bar </li>
				<li>Type in a drug or medication name and hit "Enter" </li>
				<li>Click on the category button to read more information about the medication </li>			
			</ol>
			<br>
			<p> <%= link_to "Get Started", studies_path, :class => "btn btn-success btn-large"%></p>
			
			</p>
		
			
					<p>
					 <small>Warning: You should check with your principal investigator and medical monitor for further confirmation of the information.</small>

					</p>
						</div>
					
				

<hr>

</div>
